@model T5.Models.SalesModel

<table id="salesTable" class="table">
    <tr>
        <th>Id</th>
        <th>DateTime</th>
        <th>Client</th>
        <th>Manager</th>
    </tr>
    <tbody>
    
    </tbody>
</table>